
body{
    background-color: #E7F6FF;
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}
button{
    all:unset;
}
*,*::after,*::before{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.wrapper{
    width: 1080px;
    margin:0 auto;
    margin-top: 85px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    position: relative;
}

.header{
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    
    padding: 43px 63px 45px 45px;
    .header_left{
        display: flex;
        flex-direction: row;
        width: 245px;
        height: 41px;
        
        justify-content: space-between;
        .header_left-img{

        }
        .header_left_info{
            
            .header_left_info-top{
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;

            }
            .header_left_info-bot{
                color: #9D9D9D;

            }
        }
    }
    .header_right{
        width: 196px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: 20px;
        .header_right_elem{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            .header_right-basketImg{

            }
            .header_right-sum{
                display: inline-block;
                color: #5C5C5C;
                font-weight: 600;

            }

            .header_right-heartImg{

            }
            .header_right-profileImg{

            }
        }
    }
}
.contant{
    width: 960px;
    margin: 0 auto;
    margin-top: 39px;
    padding-bottom: 40px;
    .contant_top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .contant_top-info{
        font-size: 32px;
        font-weight: 700;
        }
        .contant_top-searc{
            width: 250px;
            height: 45px;
            border-radius: 10px;
            border: 1px solid #F3F3F3;
            position: relative;
            background-image: url(../public/search.svg);
            background-repeat: no-repeat;
            background-position: top 13px left 20px;
            font-size: 14px;
            padding-left: 50px;
        } 
        
    }
    
}
.contant_items{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  
}
.rightSide{
    position: fixed;
    width: 385px;
    height: 100vh;
    right: 0px;
    background-color: #FFF;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 4;
    top: 0;
    .rightSide_basket{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        img{
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }
    }
    .rightSide_clear{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 10px;
        position: absolute;
        top: 30%;
        left: 15%;

        .rightSide_clear_img{
            width: 120px;
            height: 120px;
        }
        .checked_img{
            width: 83px;
            height: 120px;
        }
        .rightSide_clear_top{
            font-size: 22px;
            font-weight: 600;
        }
        .checked_top{
            color: #87C20A;
        }
        .rightSide_clear_bot{
            font-size: 16px;
            line-height: 24px;
            width: 285px;
            opacity: 0.4;
            text-align: center;
        }
        .rightSide_clear_btn{
            width: 245px;
            height: 55px;
            border-radius: 18px;
            background: #9DD458;
            color: #FFF;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            position: relative;
            box-sizing: border-box;
            padding-left: 30px;
            transition: transform, box-shadow 0.3s ease-in-out;
            .rightSide_btn_arrow{
                position: absolute;
                left:40px;
                top:21px;
                transition: transform 0.3s ease-in-out;
            }
            &:hover{
                transform: translateY(-3px);
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
                .rightSide_btn_arrow{
                    transform: translateX(-10px) ;
                }
            }
        }
    }
    .rightSide_items{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        overflow: auto;
        
        .rightSide_item{
            width: 323px;
            height: 119px;
            border-radius: 20px;
            border: 1px solid #F3F3F3; 
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .rightSide_item_img{
                margin-left: 20px;
                margin-right: 21px;
                
            }
            .rightSide_item_info{
                
                .rightSide_item_name{
                    width: 150px;

                }
                .rightSide_item_price{
                    font-weight: 700;

                }
            }
            .rightSide_item_clear{
                width: 32px;
                height: 32px;
                opacity: 0.5;
                transition: opacity 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }

            }
        }
    }
    .rightSide_price{
        display: flex;
        flex-direction: row;
        width: 325px;
        justify-content: space-between;
        margin-bottom: 24px;
        margin-top: 15px;
        
        .rightSide_name{
            font-size: 16px;

        }
        .rightSide_string{
            width: 190px;
            height: 18px;
            border-bottom: 1px dashed #DFDFDF;
        }
        .rightSide_sum{
            font-size: 16px;
            font-weight: 600;

        }
    }
    .rightSide_btn{
        width: 325px;
        height: 55px;
        border-radius: 18px;
        background: #9DD458;
        font-size: 16px;
        font-weight: 600;
        color: #FFF;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        
        cursor: pointer;
        .rightSide_btn_arrow{
            position: absolute;
            right: 80px;
            transition: transform 0.3s ease-in-out;
        }
        &:hover{
            
            box-shadow: 0px 5px  5px rgba(0, 0, 0, 0.07);
            .rightSide_btn_arrow{
                transform: translateX(10px);
            }
        }
    }
}

.favorite{
    display: flex;
    gap: 21px;
    .favorite_top{
        font-size: 32px;
        font-weight: 700;
        
    }
}
.favorite_clear{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .clear_img{
        width: 70px;
        height: 70px;   
    }
    .clear_top{
        font-size: 24px;
        font-weight: 700;
    }
    .clear_bot{
        font-size: 16px;
        font-weight: 400;
        opacity: 0.4;
    }
    .clear_btn{
        width: 245px;
            height: 55px;
            border-radius: 18px;
            background: #9DD458;
            color: #FFF;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            position: relative;
            box-sizing: border-box;
            padding-left: 30px;
            cursor: pointer;
            transition: box-shadow, transform 0.3s ease-in-out;
            
        .clear_btnImg{
            
            
            position: absolute;
            left:40px;
            top:21px;
            transition: transform 0.3s ease-in-out;
        }
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
            .clear_btnImg{
                transform: translateX(-10px) ;
            }
        }
    }
}