.wrapper{
    width: 1080px;
    margin:0 auto;
    margin-top: 85px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04)
}

.header{
    .header_left{
        .header_left-img{

        }
        .header_left_info{
            .header_left_info-top{

            }
            .header_left_info-bot{

            }
        }
    }
    .header_right{
        .header_right_elem{
            .header_right-basketImg{

            }
            .header_right-sum{

            }

            .header_right-heartImg{

            }
            .header_right-profileImg{

            }
        }
    }
}